<form [formGroup]="forecastForm" (ngSubmit)="onSubmit()" class="forecastForm">
  <input class="forecastForm-input"
         type="text"
         formControlName="forecastCity"
         placeholder="Name of your city">
  <button class="forecastForm-btn">Go</button>
</form>
<div class="container">
  <div class="day" *ngFor="let day of cityForecast">
    <h2 class="date">{{day.date | date:'MMMd'}}</h2>
    <div class="icon">
      <img src="http://openweathermap.org/img/w/{{day.icon}}.png" alt="icon">
    </div>
    <div class="temp">
      <h3>Max: {{day.tempMax}}&deg;</h3>
      <h3>Min: {{day.tempMin}}&deg;</h3>
    </div>
  </div>
</div>
